<head>
    <meta charset="UTF-8">
    <title>Login</title>
    <link rel="shortcut icon" href="../favicon.ico" />
    <link rel="stylesheet" href="./stylesheets/login.css">
    </head>

<body>

    <div class="login-page">
  <div class="form">
    <form action="/signup" method="post" class="login-form">

      <input type="email" name="email" placeholder="email"/>
      <input type="text" name="firstName" placeholder="first name"/>
      <input type="text" name="lastName" placeholder="last name"/>
      <input type="password" name="password" placeholder="password"/>

      <button type="submit" href="/signup" >create</button>
      <p class="message">Already registered? <a href="/">Sign In</a></p>
    </form>
  </div>
</div>


  <% if ( message ) { %>
  <p> <%= message %></p>
  <% } %>

</body>
</html>